.container-light {
  padding-top: 10vh;
  width: 100vw;
  height: 100vh;
  background-color: #FBFBFE;
}

.container-dark {
  padding-top: 10vh;
  width: 100vw;
  height: 100vh;
  background-color: #192229;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  margin-right: 10vw;
}
